<h1>Contacts:</h1>
<br>

<% @contact.each do |contact| %>
<h2><a href="contacts/<%contact.id%>"><%= contact.first_name %> <%= contact.last_name %></a></h2>
<h4><%= contact.email %></h4>
<h4><%= contact.phone_number %></h4>
<!-- insert delete form here -->
<% end %>