<h1>ADD A NEW CONTACT:</h1>

<%= form_tag "/contacts", method: :post do %>

  <div>
    First Name: <input type="text" name="first_name"><br>
    Last Name: <input type="text" name="last_name"><br>
    Email: <input type="text" name="email"><br>
    Phone Number: <input type="text" name="phone_number"><br>
  </div>
  <input type="submit" value="SAVE NEW CONTACT">

<% end %>